<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAllback</title>
    <script type="text/javascript" src="http://s3-ap-southeast-1.amazonaws.com/aws-chalice-workshop/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <script>

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }


        sessionStorage.setItem("token", readCookie("token"));

        alert(sessionStorage.getItem('token'));


        $.ajax( {
            url : '/auth',
            type : 'GET',
            'beforeSend' : function(xhr) {
                    xhr.setRequestHeader("Authorization", sessionStorage.getItem('token'));
            },
            error : function(xhr, ajaxOptions, thrownError) {
                console.log("Error!");
            },
            success : function(data) {
                console.log(data);
            }
        });


    </script>
</body>
</html>