{% extends "layout-sign.html" %}

{% block title %}Sign up{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

              <!-- form card login -->
              <div class="card rounded">
                <div class="card-header">
                  {% if user %}
                      <h3 class="mb-0"><i class="fas fa-user"></i> Edit your profile</h3>
                  {% else %}
                      <h3 class="mb-0">Sign up</h3>
                  {% endif %}

                </div>
                <div class="card-body">
                  <form class="form-signin needs-validation" action="#" method="POST">

                  <!-- for CSRF -->
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                  <div id="alert-container">
                  {% with messages = get_flashed_messages() %}
                     {% if messages %}
                        <div class="alert alert-warning" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                     {% endif %}
                  {% endwith %}
                  </div>

                    <div class="form-label-group">
                      <input type="text" id="username" name="username" class="form-control" placeholder="Name" required autofocus
                        {% if user %}
                            value="{{ user.username }}"
                        {% endif %}
                      >
                      <label for="name"><i class="far fa-id-card"></i> Name</label>
                    </div>

                    <div class="form-label-group">
                      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
                        {% if user %}
                            value="{{ user.email }}"
                            disabled
                        {% endif %}
                      >
                      <label for="email"><i class="fas fa-envelope"></i> Email address</label>
                    </div>

                    <div class="form-label-group">
                      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                      <label for="password"><i class="fas fa-key"></i> New Password</label>
                    </div>

                    <div class="form-label-group">
                      <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Password Confirm<" required>
                      <label for="password_confirm"><i class="fas fa-check-circle"></i></i> New Password Confirm</label>
                    </div>

                    {% if user %}
                        <button class="btn btn-lg btn-dark btn-block" type="button" onClick="update();">
                               <i class="fas fa-edit"></i> Update
                        </button>
                    {% else %}
                        <button id="submit_btn" class="btn btn-lg btn-dark btn-block" type="button">
                            <i class="fas fa-user-plus"></i> Submit
                        </button>
                        <p style="text-align: right; float: right;"> Have already registered?<a href="/"> <i class="fas fa-sign-in-alt"></i> Sign in</a> </p>
                    {% endif %}




                  </form>
                </div>
                <!--/card-block-->
              </div>
              <!-- /form card login -->

            <script>
                $("#submit_btn").click(function(){

                    if (($('#password').val() != $('#password_confirm').val()) || $('#password').val() == '') {
                        msgAlert("Password confirm failed or empty password. Please try again!");
                    }
                    else {
                        $("form").submit();
                    }
                });


                function msgAlert(msg) {
                $("#alert-container").html("<div class=\"alert alert-warning\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" + msg + "</div>" +
                    "<script>      " +
                    "window.setTimeout(function() {\n" +
                    "          $(\".alert\").fadeTo(500, 0).slideUp(500, function(){\n" +
                    "              $(this).remove();\n" +
                    "          });\n" +
                    "      }, 4000);" +
                    "<\/script>");
                }


              {% if user %}
                function update(){


                  if (($('#password').val() != $('#password_confirm').val()) || $('#password').val() == '') {
                      msgAlert("Password confirm failed or empty password. Please try again!");
                  }

                  else {
                      var csrf_token = '{{ csrf_token() }}';

                      $.ajaxSetup({
                          beforeSend: function (xhr, settings) {
                              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
                              }
                          }
                      });

                      $.ajax({
                          type: 'PUT',
                          url: '/users/' + '{{ user.id }}/edit',
                          dataType: 'json',
                          contentType: 'application/json;charset=utf-8',
                          data: JSON.stringify(
                              {
                                  _method: 'put', _token: csrf_token,
                                  username: $('[name=username]').val(),
                                  password: $('[name=password]').val()
                              }),
                          success: function (data) {
                              console.log(data);
                              msgAlert('Successfully updated!');
                              //location.reload('{{ url_for('siteView.home') }}');
                          },
                          error: function (data) {
                              console.log('Error:', data);
                              msgAlert('Error occurred! Please try again.');
                          }
                      });
                  }

                }
              {% endif %}

            </script>


{% endblock %}