
<!--
    Code snippets from http://flask.pocoo.org/snippets/44/
-->
{% macro render_pagination(pagination) %}
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for_other_page(pagination.page - 1)}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="page-link" href="#}">&laquo; Prev</a>
            </li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for_other_page(page) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active page-item">
                        <a class="page-link" href="#">{{ page }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item">
                    <span class="page-item">…</span>
                </li>
            {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for_other_page(pagination.page + 1)}}">Next &raquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="page-link" href="#}">Next &raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endmacro %}
