{% extends "layout-sign.html" %}

{% block title %}Sign in{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

              <!-- form card login -->
              <div class="card rounded">
                <div class="card-header">
                  <h3 class="mb-0">Sign in</h3>
                </div>
                <div class="card-body">
                  <form class="form-signin" action="#" method="POST">

                  <!-- for CSRF -->
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                  {% with messages = get_flashed_messages() %}
                     {% if messages %}

                        <div class="alert alert-warning" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                     {% endif %}
                  {% endwith %}

                    <div class="form-label-group">
                      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
                      <label for="email"><i class="fas fa-envelope"></i> Email address</label>
                    </div>

                    <div class="form-label-group">
                      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                      <label for="password"><i class="fas fa-key"></i> Password</label>
                    </div>

                    <button class="btn btn-lg btn-dark btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
                    <p style="text-align: right; float: right;"> Not yet registered?<a href="new"> <i class="fas fa-user-plus"></i> Sign up</a> </p>
                  </form>
                </div>
                <!--/card-block-->
              </div>
              <!-- /form card login -->


{% endblock %}